   <!-- FOOTER -->
    <div class="push"></div>
   <div id="footer_wrapper">
  <div class="container" id="footer">
  <br />
    <div class="span-6 prepend-1">
       <p>
        <b>Mindstep Media Handelsbolag</b><br />
        <b>Org. Nr.:</b>  969754-4808<br />
        <b>Vi innehar F-skattebevis.</b>
       </p>
    </div>
    <div class="vr"></div>
    <div class="span-2 prepend-1">
     <p>
        <b>Kontakt:</b><br />
        <b>Telefon:</b>
       </p>
    </div>
    <div class="span-6">
     <p>
        <a href="mailto:info@mindstepmedia.se" title="Oliver Hedge">info@mindstepmedia.se</a><br />
        +46 (0)70-226 89 06
       </p>
    </div>
    <div class="vr"></div>
    <div class="span-5 prepend-1 append-1 last">
     <p>
        Copyright &copy; <b>Mindstep Media</b>&nbsp;2016<br />
       </p>
      </div>
    <hr class="space" />
    </div>
   </div>
   <!-- /FOOTER -->
 </body>
</html>
